.body {
    background-color: #CCC5B9;
}
.heading {
    text-align: center;
    background-color: teal;
}
.by {
    text-align: center;
    font-style: italic;
}

.navigation {
    color: teal;
}
h2 {
    text-align: center;
}
.table, th, td {
    border: 1px solid teal;
    margin: auto;
    padding: 2px; 
    }
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form {
    text-align: center;
}
.footer {
    text-align: center;
}